<table style="width:100%">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Última atualização</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nome do personagem</td>
			<td>Descrição do Personagem</td>
			<td>12/03/1998</td>
		</tr>
	</tbody>
</table>
{{outlet}}